<img alt="Colaboratory logo" width="15%" src="https://raw.githubusercontent.com/carlosfab/escola-data-science/master/img/novo_logo_bg_claro.png">

#### **Missão Python do Zero**
*by [sigmoidal.ai](https://sigmoidal.ai)*

---

# Análise de Dados da Empresa

Com o conteúdo que temos até aqui, já é possível fazer análises e plotar visualizações informativas....

In [ ]:
# importar as bibliotecas necessárias - pandas, matplotlib, google.colab drive

# montar o drive

# importar a planilha com pandas

# associar à variável 'df' a planilha Vendas

# visualizar as 5 primeiras entradas

In [ ]:
#@title Solução
# importar bibliotecas
import pandas as pd
import matplotlib.pyplot as plt
from google.colab import drive

# montando o drive
drive.mount('/content/gdrive')


# importar planilha do Excel
planilha = pd.read_excel("/content/gdrive/My Drive/controle_da_empresa.xlsx", None)
df = planilha['Vendas']

# ver as 5 primeiras entradas
df.head()

Mounted at /content/gdrive

  Data da Venda                 Item  ...  Preço Unitário Total de Vendas
0    2020-01-02     Lente 50mm f/1.4  ...            1649            3298
1    2020-01-02     Filtro ND 5 Stop  ...            1220            2440
2    2020-01-03     Filtro ND 5 Stop  ...            1220            2440
3    2020-01-03  Lente 16-35mm f/2.8  ...            8997           17994
4    2020-01-04  Lente 16-35mm f/2.8  ...            8997           17994

[5 rows x 6 columns]

In [ ]:
# plotar um histograma do total de vendas

In [1]:
#@title Solução
plt.hist('Total de Vendas', data=df)
plt.title("Histograma de Vendas")
plt.ylabel("Quantidade de ocorrências")
plt.xlabel("Valor da Compra")
plt.show()

NameError: name 'plt' is not defined

In [ ]:
# plotar um gráfico de linha das vendas ao longo do tempo
# rode a célula para transformar a coluna Datas para o formato datetime
df['Data da Venda'] = pd.to_datetime(df['Data da Venda'], infer_datetime_format=True)

In [ ]:
#@title Solução
# criando o plot

plt.plot('Data da Venda', 'Total de Vendas', data=df)

# definindo título
plt.title("Vendas")
plt.ylabel("Total em Vendas")
plt.xlabel("Data")
plt.xticks(rotation=45)

# mostrando gráfico
plt.show()

In [ ]:
# plotar um gráfico de barras para os vendedores

In [ ]:
#@title Solução
df.groupby('Vendedor')['Total de Vendas'].sum().plot.bar();

In [ ]:
# plotar um gráfico de pizza ou waffle para os produtos mais vendidos

In [ ]:
#@title Solução
a = dict(df["Item"].value_counts())

labels = a.keys()
valores = a.values()

# criando gráfico de pizza
plt.pie(x=valores, labels=labels)

# definindo título
plt.title("Itens Mais Vendidos")

# mostrando o gráfico
plt.show()